body {
    background-color: white;
}

.add-article-header input {
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border-left: 2px solid #ccc;
}

.add-article-header input:focus {
    outline: none;
    box-shadow: none;
}

.add-article-category, .add-article-tags, .add-article-textarea {
    margin-bottom: 20px;
}

.add-article-category .btn-primary{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 1px;
    padding-left: 1px;
    font-size: small;
}

.central {
    margin-top: 70px;
}

#tags{
    margin-top: 30px;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border-left: 2px solid #ccc;
    display: none;
}

#tags:focus{
    outline: none;
    box-shadow: none;
    border-left: 2px solid #039be5;
}

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {

    .central {
        margin-top: 140px;
    }

    .add-article-category .btn-primary{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 2px;
        padding-left: 2px;
        font-size: medium;
    }
}
