.profile-head {
    height:0px;
    width:100%;
    background-color: #039be5;
}

.profiles {
    padding-top: 10px;
    top: 50px;
}

.central {
    margin-top: 40px;
}

.profile-head img {
    margin:0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50% !important;
}

.profile-head h2 {
    width: 100%;
    text-align:justify;
    font-weight: bold;
    margin-bottom: 0;
}

.profile-head p {
    width: 100%;
    text-align: justify;
    padding:0px 5px 5px 5px;
    color: #555;
    font-size:17px;
    margin:0;
}

.profile-head a {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: #555;
    font-size: 15px;
}

.profile-head ul {
    list-style:none;
    padding: 0;
}

.profile-description {
    text-align: center;
}

.profile-description h2 {
    text-align: center;
}

.profile-presentation {
    color: #a9a9a9;
    font-family: "Calibri Light";
}

.profile-follow {
    color: #777777;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {

    .profile-head {
        height:300px;
        width:100%;
        background-color: #039be5;
    }

    .profiles {
        padding-top: auto;
        top: 220px;
    }

    .profile-head img {
        margin:0 auto;
        width: 120px;
        height: 120px;
        border-radius: 50% !important;
    }

    .profile-article {
        padding-right: 0;
        padding-left: 0;
    }

    .container-category-title h3 {
        padding-left: 0;
    }

    .central {
        margin-top: 100px;
    }

    .profile-description {
        text-align: left;
    }

    .profile-description h2 {
        text-align: left;
        padding-left: 0;
    }

    .profile-presentation {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .profile-userbuttons button {
        float: left;
    }
}
