@font-face {
    font-family: 'Caviar Dreams';
    src: url("../fonts/CaviarDreams.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url("../fonts/Caviar_Dreams_Bold.ttf"); /*URL to font*/
}

body {
    background-color: #f3f3f3;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 0 !important;
}

a:hover {
    text-decoration: none;
}

.modal-open, .modal-open .navbar-fixed-top {
    margin-right: 0 !important;
}

.navbar-header .navbar-brand {
    display: none;
}

.navbar-brand img {
    width: 32px;
    transform: translateY(-25%);
}

.navbar-brand {
    font-family: 'Caviar Dreams';
    font-size: x-large;
    font-weight: bold;
    padding-right: 0;
}
 .brand-title:hover {
    color: #039be5;
}

.brand-title {
    padding-left: 18px;
    padding-right: 20px;
}

.navbar {
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
}

.menu-right {
    margin-bottom: 0;
}

.navbar-header button {
    margin-bottom: 0;
}

.navbar-header .navbar-toggle:first-child {
    position: relative;
}

.navbar-header {
    float: left;
}

#menu-user-dropdown {
    display: none;
}

#menu-user-dropdown .dropdown-menu {
    position: absolute;
    margin-right: 15px;
}

#menu-user-dropdown .dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-image: none;
    color: #fff;
    background-color:white;
    padding-bottom: 0;
    box-shadow: none;
}

#menu-user-dropdown .dropdown-menu span {
    color: #777777;
}

#menu-user-dropdown .dropdown-menu span:hover {
    color: #333333;
    background-color: white;
}

#menu-user-dropdown .dropdown-menu a:hover {
    background-image: none;
    background-color: white;
    box-shadow: none;
}

.menu-right > li {
    float: left;
}

.menu-right li {
    max-height: 50px;
}

.menu-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-photo {
    position: relative;
    top: -4px;
    width: 34px;
    height: 34px;
}

.menu-right .menu-top {
    color: #039be5;
    font-size: large;
}

.menu-right button {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
}

.navbar-toggle {
    border: none;
    outline: none;
}

.nav-bottom {
    border-top: 1px solid #eee;
}

#nav-logreg a {
    color: #039be5;
}

.nav-icones {
    color: #039be5;
    font-size: large;
}

.central {
    margin-top: 70px;
}

.page-header {
    margin-top: 0;
    text-decoration: none;
}

.page-header a {
    text-decoration: none;
}

.page-header-content {
    display: table;
}

.article-image {
    width: 100%;
    margin-bottom: 25px;
}

.profile-header-img, .article-publisher {
    display: inline-block;
    vertical-align: top;
}

.article-publisher {
    margin-left: 10px;
}

.article-author {
    font-family: "Calibri Light";
    color: #039be5;
    margin-bottom: 0;
    margin-top: 0;
}

.article-title {
    color: #333333;
}

.article-title a {
    text-decoration: none;
}

.article-title:hover, .article-title:focus {
    color: #333333;
    text-decoration: none;
}

.profile-header-img > img.img-circle {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
}

.img-responsive {
    background-color: white;
}

.page-body {
    padding-top: 0;
}

.article-text {
    color: #333333;
    font-size: medium;
}

.article-result:hover {
    cursor: pointer;
}

.article-abstract {
    height: 40px;
}

.article-footer {
    font-family: "Caviar Dreams";
    background-color: white;
    border: none;
}

.article-footer-upper {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-footer-lower {
    padding-top: 10px;
}

.glyph-text {
    font-size: small;
    font-family: "Calibri Light";
    position: relative;
    top: -3px;
}

small, .small-text, .article-footer a {
    color: #a9a9a9;
}

.article-footer a:hover {
    color: #039be5;
}

.article-footer a:hover {
    text-decoration: none;
}

.container-category-title {
    color: #039be5;
    padding-bottom: 20px;
}

body.modal-open {
    overflow-y: scroll;
    padding-right: 0 !important;
}

.modal-open {
    padding-right: 0;
}

.useemail {
    text-align: center;
}

/* Thumbs */

.thumbs-up, .thumbs-down {
    display: inline-block;
}

.thumbs-up:hover, .thumbs-down:hover {
    color: #039be5;
    cursor: pointer;
}

.article-footer-lower .voted {
    color: #039be5;
}

/* Menu search bar */

.expandsearch {
    width: 0;
    min-height: 40px;
    z-index: 500;
    top: 50px;
    right: 50px;
    float: right;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right;
    transition-property: min-height, width, top, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.expandsearch.open {
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
}

.expandsearch-form {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.expandsearch.open .expandsearch-form {
    width: 80%;
    height: 160px;
    -webkit-transform: translate3d(0,3em,0);
    transform: translate3d(0,3em,0);
}

.expandsearch-input {
    width: 100%;
    height: 100%;
    padding: 0 10% 0 10px;
    font-family: "Calibri Light";
    border: none;
    background: transparent;
    font-size: 1.1em;
    color: #039be5;
    -webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
    transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.expandsearch-input::-ms-clear {
    display: none;
}

.expandsearch.hideInput .expandsearch-input {
    color: transparent;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.expandsearch.open .expandsearch-input {
    font-size: 7em;
}

/* placeholder */
.expandsearch-input::-webkit-input-placeholder {
    color: #c2c2c2;
}

.expandsearch-input:-moz-placeholder {
    color: #c2c2c2;
}

.expandsearch-input::-moz-placeholder {
    color: #c2c2c2;
}

.expandsearch-input:-ms-input-placeholder {
    color: #c2c2c2;
}

.gn-search:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.expandsearch-input:focus,
.expandsearch-submit:focus {
    outline: none;
}

.expandsearch-submit {
    position: absolute;
    width: 80px;
    height: 80px;
    text-indent: 100px;
    overflow: hidden;
    right: 0;
    top: 50%;
    background: transparent url(../images/magnifier.svg) no-repeat center center;
    background-size: 100%;
    border: none;
    pointer-events: none;
    transform-origin: 50% 50%;
    opacity: 0;
    -webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
    transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.expandsearch.open .expandsearch-submit {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
    transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.expandsearch-close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}

.expandsearch.open .expandsearch-close {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.expandsearch-close::before,
.expandsearch-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 3px;
    opacity: 0.2;
    background: #039be5;
}

.expandsearch-close:hover.expandsearch-close::before,
.expandsearch-close:hover.expandsearch-close::after {
    opacity: 1;
}

.expandsearch-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.expandsearch-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.expandsearch-content {
    color: #333;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 10.5%;
    background: white;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 499;
}

.expandsearch.open .expandsearch-content {
    opacity: 1;
    height: auto;
    overflow: visible;
    pointer-events: auto;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 498;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.expandsearch.open ~ .overlay {
    opacity: 1;
}

/* Account */

.account {
    margin: 20px 0;
}

.account-sidebar {
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px;
	position:fixed;
}

.account-userpic {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 55px;
    height: 80px;
}

.background-gradient {
    background: #03B1FF;
    background: -moz-linear-gradient(left, #03B1FF 0%, #03A9F5 41%, #039be5 100%);
    background: -webkit-linear-gradient(left, #03B1FF 0%, #03A9F5 41%, #039be5 100%);
    background: -o-linear-gradient(left, #03B1FF 0%, #03A9F5 41%, #039be5 100%);
    background: -ms-linear-gradient(left, #03B1FF 0%, #03A9F5 41%, #039be5 100%);
    background: linear-gradient(to right, #03B1FF 0%, #03A9F5 41%, #039be5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03B1FF', endColorstr='#039be5', GradientType=1 );
}

.account-userpic img {
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.15);
    border-radius: 50%;
    position: relative;
    top: 28px;
}

.account-usertitle {
    text-align: center;
    margin-top: 20px;
}

.account-usertitle-job {
    font-family: "Calibri Light";
}

.account-usertitle-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}

.account-usertitle-job {
    color: #039be5;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.account-presentation {
    color: #a9a9a9;
    font-family: "Calibri Light";
}

.account-follow {
    color: #777777;
}

.account-usermenu {
    margin-top: 30px;
}

.account-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.account-usermenu ul li:last-child {
    border-bottom: none;
}

.account-usermenu ul li a {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 400;
}

.account-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.account-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #039be5;
}

.account-usermenu ul li a:hover .badge{
    background-color: #039be5;
}

.account-usermenu ul li.active {
    border-bottom: none;
}

.account-usermenu ul li.active a {
    color: #039be5;
    background-color: #f6f9fb;
    border-left: 2px solid #039be5;
    margin-left: -2px;
}

.account-usermenu ul li.active .badge {
    background-color: #039be5;
}

.account-content {
    margin-top: 20px;
}

.account-edit-account {
    padding: 20px;
    background: #fff;
    min-height: 485px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.account-recommended {
    display: none;
}

.account-recommended .container-category-title h3 {
    margin-top: 0;
}

.account-notification-description {
    margin-bottom: 0;
}

.account-notification-description a {
    text-decoration: none;
}

.account-notification-description .article-author {
    font-size: large;
}

.account-menu-collapse {
    margin-left: 20px;
}

.permission {
    color: white;
    background-color: #039be5;
    border: 1px solid #039be5;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.pending-articles-notification {
    font-size: small;
    text-align: justify;
}

/* Add article */

.addarticlebody {
    background-color: white;
}

.add-article-header input {
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border-left: 2px solid #ccc;
}

.add-article-header input:focus {
    outline: none;
    box-shadow: none;
}

.add-article-category, .add-article-tags, .add-article-textarea {
    margin-bottom: 20px;
}

.add-article-category .btn-primary{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 1px;
    padding-left: 1px;
    font-size: small;
}

.add-article-central {
    margin-top: 70px;
    background-color: white;
}

#tags{
    margin-top: 30px;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border-left: 2px solid #ccc;
    display: none;
}

#tags-edit{
    margin-top: 30px;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border-left: 2px solid #ccc;
}

#tags:focus{
    outline: none;
    box-shadow: none;
    border-left: 2px solid #039be5;
}

#tags-edit:focus{
    outline: none;
    box-shadow: none;
    border-left: 2px solid #039be5;
}

/* Follow */

.follow-results {
    text-align: center;
    font-size: larger;
}

.follow-results i {
    margin-bottom: 5px;
    font-size: 70px;
    color: #a9a9a9;
}

/* Profile */

.profile-head {
    height: 0;
    width: 100%;
}

.profiles {
    padding-top: 10px;
    top: 50px;
}

.profile-central {
    margin-top: 40px;
}

.profile-head img {
    margin:0 auto;
    width: 120px;
    height: 120px;
    border: 4px solid white;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.15);
    border-radius: 50%;
    position: relative;
}

.profile-head h2 {
    width: 100%;
    text-align: justify;
    margin-bottom: 0;
}

.profile-head p {
    width: 100%;
    text-align: justify;
    padding:0px 5px 5px 5px;
    color: #555;
    font-size:17px;
    margin:0;
}

.profile-head a {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: #555;
    font-size: 15px;
}

.profile-head ul {
    list-style:none;
    padding: 0;
}

.profile-description {
    text-align: center;
}

.profile-description h2 {
    text-align: center;
}

.profile-presentation {
    color: #a9a9a9;
    font-family: "Calibri Light";
}

.profile-follow {
    color: #777777;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Advanced search */

.advanced-central {
    margin-top: 70px;
}

#table-header {
    background-color: #039be5;
}

#table-header a {
    color: white;
    background-color: #039be5;
    text-align: left;
    text-decoration: none;
}

#advanced-text {
    display: none;
}

#advanced-dropdown.dropdown-toggle:focus {
    background-color: white;
    border: 1px solid #0279B3;
}

#advanced-publisher {
    z-index: 1;
}

.advanced-central .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.advanced-central .input-group-btn .btn-group {
    display: flex !important;
}

.advanced-central .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.advanced-central .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.advanced-central .btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.advanced-central .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.advanced-central .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* Read article */

.read-article-central {
    margin-top: 70px;
}

/* Button's styling */

.btn-default, .btn-primary, .btn-success, .btn-info {
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    outline: none;
}

.btn-default:focus, .btn-primary:focus, .btn-success:focus, .btn-info {
    outline: none;
}

.btn-default {
    border: 1px solid #039be5;
}

.btn-default:hover, .btn-default:focus {
    background-color: white;
    border: 1px solid #0279B3;
    color: #0279B3;
}

.btn-default:active {
    background-color: white;
    border: 1px solid #0279B3;
    color: #0279B3;
}

.btn-default:active:focus {
    background-color: white;
    border: 1px solid #0279B3;
    color: #0279B3;
}

.btn-default:active:hover {
    background-color: white;
    border: 1px solid #0279B3;
    color: #0279B3;
}

.btn-primary {
    border: 1px solid #039be5;
}

.btn-info {
    background-color: white;
    color: #949494;
    border: 1px solid #ccc;
}

.btn-info:hover {
    background-color: white;
    color: #949494;
    border: 1px solid #949494;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.remember-password {
    margin-bottom: 8px;
}

.facebook, .google, .sigarra, .btn-submit-dialog {
    width:100%;
    margin-bottom: 5px;
    padding: 16px;
}

.modal-message-content {
    color: #CB202D;
    background-color: #f2c6c6;
    border: 1px solid #CB202D;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 12px;
}

.modal-title {
    border-top: none;
    border-bottom: 1px solid #e5e5e5;;
}

.modal-title .navbar-brand {
    padding-left: 0;
    color: #039be5;
}

.modal-close {
    font-size: 22px;
    cursor: pointer;
    color: #a9a9a9;
}

.modal-close:hover {
    color: #039be5;
}

.modal-social-icons i {
    float: left;
}

#signin .modal-body {
    margin-bottom: 5px;
}

#signin .btn-bottom {
    width: 45%;
    height: 50px;
}

#signin .btn-register {
    float: right;
}

.facebook {
    background-color: #3b5999;
    border:2px solid #3b5999;
    color:#fff;
}

.facebook:hover {
    background-color: #3c4889;
    border:2px solid #3c4889;
    color:#fff;
}

.google {
    background-color: white;
    border:1px solid #dbdbdb;
    color: #949494;
}

.google:hover {
    background-color: white;
    border:1px solid #949494;
    color: #949494;
}

.google img{
    width: 16px;
    float: left;
}

.sigarra {
    background-color: #746238;
    border: 2px solid #746238;
    color: #fff;
}

.sigarra:hover {
    background-color: #655332;
    border: 2px solid #655332;
    color: #fff;
}

.form-group i {
    width: 20px;
}

.horizontal-menu .dropdown-toggle {
    color: #a9a9a9;
}

.horizontal-menu .dropdown-toggle:hover {
    color: #039be5;
}

.horizontal-menu .dropdown-toggle:focus {
    color: #039be5;
}

.horizontal-menu .dropdown-menu {
    top: 20px;
}

.horizontal-menu .dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.horizontal-menu .dropdown-menu li a {
    text-decoration: none;
    color: #777777;
    background-image: none;
}

/* Report */
textarea#repAdditional {
    width:100%;
    resize: vertical;
    margin-bottom: 5px;
    padding: 16px;
    border-radius: 3px;
}

#report-article input[type="checkbox"] {
    position: relative;
    top: 1px;
}

.comment-likes {
    position: relative;
    top: 10px
}

.btn-comment {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.horizontal-menu .dropdown-menu li a:hover {
    color: #333333;
    background-color: white;
    background-image: none;
}

/* Small devices (tablets, 768px and up) @screen-sm-min */
@media (min-width: 768px) {

    .expandsearch-content {
        margin-top: 4.5em;
    }

    .article-result {
        padding: 25px;
    }

    .article-result .img-circle {
        width: 60px;
        height: 60px;
    }

    .article-result h4 {
        font-size: 24px;
    }

    .article-result small {
        font-size: 12px;
    }

    .article-result .profile-header-img {
        margin-right: 20px;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    #nav-bottom-container a {
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-header .navbar-brand {
        display: block;
    }

    .central {
        margin-top: 100px;
    }

    .modal-dialog {
        width: 400px;
    }

    .menu-user-container {
        display: none
    }

    .menu-photo {
        top: -8px;
    }

    #menu-user-dropdown {
        display: block;
    }

    .expandsearch {
        display: block;
        width: 140px;
    }

    .account-content{
        margin-top: 20px;
    }

    .account-recommended {
        display: block;
    }

    .add-article-central {
        margin-top: 140px;
    }

    .add-article-category .btn-primary{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 2px;
        padding-left: 2px;
        font-size: medium;
    }

    .profile-head {
        height:300px;
        width:100%;
        background-color: #039be5;
    }

    .profile-head img {
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    }

    .profiles {
        padding-top: auto;
        top: 220px;
    }

    .profile-row-img {
        height: 30px;
    }

    .profile-head img {
        margin:0 auto;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: relative;
        top: -70px;
    }

    .profile-article {
        padding-right: 0;
        padding-left: 0;
    }

    .profile-articles .container-category-title h3 {
        padding-left: 0;
    }

    .profile-description {
        margin-top: 20px;
    }

    .profile-presentation {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .profile-userbuttons {
        margin-bottom: 0;
    }

    .profile-central {
        margin-top: 130px;
    }

    .advanced-central {
        margin-top: 140px;
    }

    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    #advanced-text {
        display: inline-block;
    }

    .advanced-central .dropdown.dropdown-lg {
        position: static !important;
    }

    .advanced-central .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }

    .read-article-central {
        margin-top: 140px;
    }
}

@media screen and (max-width: 850px) {
    .expandsearch-input {
        padding: 0 25% 0 10px;
    }
    .expandsearch.open .expandsearch-input {
        font-size: 2em;
    }

    .expandsearch.open .expandsearch-submit {
        -webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
        transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
    }
}

@media screen and (max-width: 992px) {
    .expandsearch {
        top: 10%;
        right: 10%;
    }
}

/* Medium devices (desktops, 992px and up) @screen-md-min */
@media (min-width: 992px) {

    #nav-bottom-container a {
        padding-right: 10px;
        padding-left: 10px;
    }

    .article-image-small {
        height: 180px;
    }

    .account-content{
        margin-top: 0;
    }
}

