#add-article {
    margin-top: 20px;
}

#add-article .add-article-header input {
    position: relative;
    left: -15px;
    border: white;
    box-shadow: none;
}

.add-article-category, .add-article-tagsphoto, .add-article-textarea {
    margin-bottom: 20px;
}
